{
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended",
    "plugin:vuetify/base",
    "plugin:vuetify/recommended",
    "eslint:recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "jest"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "@typescript-eslint/parser"
}
